:root {
    --main-color: gray;
    --second-color: lightblue;
    --thirt-color: green;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
}


body {
    font-family: 'Montserrat';
    background-color: rgb(255, 245, 225);
    /* по высоте экрана */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    text-align: center;
    padding: 40px 0;
}
header {
    background-color: var(--second-color);

}
.logo {
    align-self: flex-start;
    text-decoration: none;
    font-size: 35px;
    color: black;
}
.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.menu {
    width: 30%;
}
.menu-mobile {
    display: none;
}
.menu ul {
    display: flex;
    justify-content: space-around;
}
main {
    background-color: var(--main-color);
    flex-grow: 1;
}
.content {
    /* возвращает все в строчку когда margin ломает линию */
    flex-basis: calc(70% - 25px);
}
aside {
    flex-basis: 30%;
    margin-left: 25px;
}
.content-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
}
footer {
    background-color: var(--thirt-color);
}
@media (max-width: 768px) {
    .container {
        max-width: 650px;
    }
    .menu-mobile {
        display: block;
    }
    .menu {
        display: none;
    }
}
@media (max-width: 425px) {
   
    .content {
        flex-basis: 100%;
        padding: 10px;
  }
    aside {
      flex-basis: 100%;
      padding: 10px;
  }
  .logo {
      display: none;
  }
  h1 {
      display: none;
  }
  .flex-wrapper {
      justify-content: center;
  }
  .menu-mobile {
      font-size: 50px;
      padding: 10px;
      text-decoration: none;
      color: black;
  }
}



