* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 30px;
    font-size: 30px;
    font-family: 'Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: red;
}
a:hover {
    background-color: rgb(102, 0,0);
}