*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1080px;
}
body {
    font-family: 'Montserrat';
    background-color: yellow;
}
h1 {
    text-align: center;
    padding: 40px 0;
}
.input-field {
    margin-bottom: 20px;
}
.input-field label {
    display: inline-block;
    min-width: 200px;

}
.input-field input {
    padding: 10px;
    
}
.input-field input:focus {
    background-color: aquamarine;
    border: 4px solid Red;
    /* граница снаружи */
    outline: 4px solid green;
    outline-offset: 5px;
}

.input-field input:invalid {
    background-color: red;
}