*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1080px;
}
body {
    font-family: 'Montserrat';
    background-color: yellow;
}
h1 {
    text-align: center;
    padding: 40px 0;
}
.input-field {
    margin-bottom: 20px;
}
.input-field label {
    display: inline-block;
    font-size: 15px;
    min-width: 300px;


}
.input-field input {
    padding: 10px;
    
}
.input-field input:focus {
    background-color: aquamarine;
    border: 4px solid Red;
    /* граница снаружи */
    outline: 4px solid green;
    outline-offset: 5px;
}

.input-field input:invalid {
    background-color: red;
}

.input-field:hover label {
    font-size: 25px;
}

.input-field.personal-date p {
    display: inline-block;
    min-width: 300px;
}
.input-field.personal-date label {
    min-width: 100px;
}

.input-field.personal-date:hover label {
    font-size: 15px;
}

.input-field.personal-date p {
    min-width: 20px;
}
.password input:focus::placeholder {
        font-size: 0;
}

textarea {
    width: 200px;
    height: 100px;
    resize: none;
}

.change-check label{
    display: flex;
    align-items: center;
    
}
.change-check input {
    display: none;
}
.change-check input+span {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 4px solid gray;
    border-radius: 3px;
    background-color: rgb(190, 185, 185);
    position: relative;
    /* float: right; */

}
.change-check input:checked+span {
    border: 2px rgb(25, 148, 25) solid;
    background-color: rgb(32, 235, 32);
}
.change-check input:checked+span::after {
    content: "+";
    font-size: 50px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.change-radio input {
    display: none;
    z-index: -1;
}

.flex {
    display: flex;
    font-size:150px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 500px;

}