/* подключение шрифты в ручную */
@font-face {
    font-family: "myfonts";
    src: url(../css/fonts/HandyQuomteRegular.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
}
/* подключение GOOGLE FONTS */
.google-fonts {
    font-family: 'Red Hat Mono', monospace;
}

.font-face {
    font-family: "myfonts";
    font-size: 40px;

}